---
title: Upcoming Events
---

<div class="row">
  <div class="large-12 columns">
    <div class="panel">
      <h2>Events</h2>
      <div data-magellan-expedition="fixed">
        <dl class="sub-nav center-block">
          <dd data-magellan-arrival="upcoming"><a href="#upcoming"><span>Upcoming Events</span></a></dd>
          <dd data-magellan-arrival="previous"><a href="#previous"><span>Previous Events</span></a></dd>
        </dl>
      </div>
    </div>
  </div>
</div>


<div class="row">
  
  <!-- Main Feed -->
  <div class="medium-12 columns">
    
    
    <a name="previous"></a>
    <h4 data-magellan-destination="previous">Previous Events</h4>

    
    <!-- Feed Entry -->
    <div class="row item last_item">
      <div class="medium-3 small-6 columns">
        <p>
          <%= thumbnail_to "EACY_BID_5.jpg" %>
        </p>
      </div>
      <div class="medium-9 small-12 columns">
          <h3>DCYPAA Bid Committee Meeting</h3>
          <p>The DCYPAA Bid Committee meets every first and third Saturday of the month at 2:30 PM. Please feel free to join us! We meet at <a href="/info">2100 New Hampshire Ave NW, Washington DC 20009</a>.</p>
        <i>Saturday, January 4th, 2014</i> <br /> <br/>
        <fine>Contact chair@dcypaa.org for more information.</fine>
        
      </div>
    </div>
    <!-- End Feed Entry -->

		<a name="upcoming"></a>
    <h4 data-magellan-destination="upcoming">Upcoming Events</h4>
    <!-- Feed Entry -->
    <div class="row item">
      <div class="medium-3 small-6 columns">
        <p>
          <%= thumbnail_to "bingo_thumb.png" %>
        </p>
      </div>
      <div class="medium-9 small-12 columns">
        <p>
          <h3>DCYPAA Bingo and Bake-Off</h3> <br />
          Join us for a <a href="Bingo_Flier_DCYPAA.pdf">Bingo and Bake-Off night!</a> Bring a baked good for a 5 dollar discount at the door, or just bring yourself and have a chance to win some money (who doesn't like that?).
        </p>
        <i>Saturday, January 18th, 2014</i> <br /> <br/>
        <fine>Contact events@dcypaa.org or bluebirdgoose@gmail.com for more information.</fine>
        
      </div>
    </div>
    <!-- End Feed Entry -->
		
    <!-- Feed Entry -->
    <div class="row item">
      <div class="medium-3 small-6 columns">
        <p>
          <%= thumbnail_to "EACY_BID_5.jpg" %>
        </p>
      </div>
      <div class="medium-9 small-12 columns">
        <p>
          <h3>DCYPAA Bid Committee Meeting</h3> <br />
          The DCYPAA Bid Committee meets every first and third Saturday of the month at 2:30 PM. Please feel free to join us! We meet at <a href="/info">2100 New Hampshire Ave NW, Washington DC 20009</a>.</p>
					<p>
					The next meeting will be: 
        </p>
        <i>Saturday, January 18th, 2014</i> <br /> <br/>
        <fine>Contact chair@dcypaa.org for more information.</fine>
        
      </div>
    </div>
    <!-- End Feed Entry -->
    
    <!-- Feed Entry -->
    <div class="row item">
      <div class="medium-3 small-6 columns">
        <p>
          <%= thumbnail_to "open_mic_thumb.png" %>
        </p>
      </div>
      <div class="medium-9 small-12 columns">
        <p>
          <h3>MDYPAA and DCYPAA Open Mic Night!</h3><br />
					Come on out to listen or perform at our <a href="/images/dcypaa_open_mic.pdf">Open Mic Night!</a> A suggested donation of 10 bucks gets you in the door.</p>
        <i>Saturday, January 25th, 2014 at 10:30 PM</i> <br /> <br/>
        <fine>Contact events@dcypaa.org for more information.</fine>
        
      </div>
    </div>
    <!-- End Feed Entry -->
		
    <!-- Feed Entry -->
    <div class="row item">
      <div class="medium-3 small-6 columns">
        <p>
          <%= thumbnail_to "EACY_BID_5.jpg" %>
        </p>
      </div>
      <div class="medium-9 small-12 columns">
        <p>
          <h3>DCYPAA Bid Committee Meeting</h3> <br />
          The DCYPAA Bid Committee meets every first and third Saturday of the month at 2:30 PM. Please feel free to join us! We meet at <a href="/info">2100 New Hampshire Ave NW, Washington DC 20009</a>.</p>
					<p>
					The next meeting will be: 
        </p>
        <i>Saturday, February 1st, 2014</i> <br /> <br/>
        <fine>Contact chair@dcypaa.org for more information.</fine>
        
      </div>
    </div>
    <!-- End Feed Entry -->
    
    <!-- Feed Entry -->
    <div class="row item">
      <div class="medium-3 small-6 columns">
        <p>
          <%= thumbnail_to "EACY_BID_5.jpg" %>
        </p>
      </div>
      <div class="medium-9 small-12 columns">
        <p>
          <h3>DCYPAA Bid Committee Meeting</h3> <br />
          The DCYPAA Bid Committee meets every first and third Saturday of the month at 2:30 PM. Please feel free to join us! We meet at <a href="/info">2100 New Hampshire Ave NW, Washington DC 20009</a>.</p>
					<p>
					The next meeting will be: 
        </p>
        <i>Saturday, February 15th, 2014</i> <br /> <br/>
        <fine>Contact chair@dcypaa.org for more information.</fine>
        
      </div>
    </div>
    <!-- End Feed Entry -->
    
    <!-- Feed Entry -->
    <div class="row item last_item">
      <div class="medium-3 small-6 columns">
        <p>
          <%= thumbnail_to "EACY_BID_5.jpg" %>
        </p>
      </div>
      <div class="medium-9 small-12 columns">
        <p>
          <h3>DCYPAA Bid Committee Meeting</h3> <br />
          The DCYPAA Bid Committee meets every first and third Saturday of the month at 2:30 PM. Please feel free to join us! We meet at <a href="/info">2100 New Hampshire Ave NW, Washington DC 20009</a>.</p>
					<p>
					The next meeting will be: 
        </p>
        <i>Saturday, March 1st, 2014</i> <br /> <br/>
        <fine>Contact chair@dcypaa.org for more information.</fine>
        
      </div>
    </div>
    <!-- End Feed Entry -->

  </div>

</div>

