---
title: Information
---
<div class="row">
  <div class="large-12 columns">
    <div class="panel">
      <h2>About Us</h2>
    </div>
  </div>
</div>

<div class="row">
  <div class="medium-5 large-4 columns">
    <h5>Where We Meet</h5>
    <!-- Clicking this placeholder fires the mapModal Reveal modal -->
    <p>
      <a href="" data-reveal-id="mapModal">
        <iframe width="300" height="280" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?q=2100+NEw+hampshire+ave+nw&amp;ie=UTF8&amp;hq=&amp;hnear=2100+New+Hampshire+Ave+NW,+Washington,+District+of+Columbia,+20009&amp;t=m&amp;ll=38.918418,-77.03536&amp;spn=0.020034,0.025749&amp;z=14&amp;iwloc=A&amp;output=embed"></iframe>
      </a>
      <br />
      <a href="" data-reveal-id="mapModal">View Map</a>
    </p>
  </div>
  
  <div class="medium-7 large-8 columns">
    <h3>Mission Statement</h3>
    <p>DCYPAA is a group of young people in AA from the DC area. Our mission is to bring the EACYPAA conference to Washington, DC in 2015. We are putting together a bid to present at EACYPAA XII, in Chicago, Illinois in 2014. If you would like to get involved, please feel free to contact us at any of the email addresses listed below! If you don't know who to pick, just email <a href="mailto:chair@dcypaa.org">chair@dcypaa.org</a>. Also feel free to join us at our regular meetings; the committee meets every first and third Saturday of the month at 2:30 PM.</p>
  </div>
  <!-- End Sidebar -->
</div>

<div class="row">
  <div class="large-12 columns">
    <section class="section" id="members_grid">
      <h5 class="title"><a href="#panel2">Specific Committee Members</a></h5>
      <div class="content" data-slug="panel2">
        <ul class="medium-block-grid-5 small-block-grid-2 contact_list">
          <li>
            <a href="mailto:chair@dcypaa.org">
              <p>
                <%= image_tag "man_hat.png" %>
              </p>
              Committee Chair
            </a>
          </li>
          <li>
            <a href="mailto:secretary@dcypaa.org">
              <p>
                <%= image_tag "woman.png" %>
              </p>
              Secretary
            </a>
          </li>
          <li>
            <a href="mailto:webmaster@dcypaa.org">
              <p>
                <%= image_tag "man_in_chair.png" %>
              </p>
              Website Chair
            </a>
          </li>
          <li>
            <a href="mailto:outreach@dcypaa.org">
              <p>
                <%= image_tag "man-silhouette.png" %>
              </p>
              Outreach
            </a>
          </li>
          <li>
            <a href="mailto:events@dcypaa.org">
              <p>
                <%= image_tag "girl_jumping.png" %>
              </p>
              Events Chair
            </a>
          </li>
        </ul>
      </div>
    </section>
  </div>
</div>

<div class="reveal-modal medium" id="mapModal" data-reveal>
   <h4>Where We Meet</h4>
   <p>
     <iframe width="640" height="480" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?q=2100+NEw+hampshire+ave+nw&amp;ie=UTF8&amp;hq=&amp;hnear=2100+New+Hampshire+Ave+NW,+Washington,+District+of+Columbia,+20009&amp;t=m&amp;ll=38.918418,-77.03536&amp;spn=0.032054,0.054932&amp;z=14&amp;iwloc=A&amp;output=embed"></iframe>
   </p>
   <p>Come join us on the first and third saturdays of every month!</p>
   <!-- Any anchor with this class will close the modal. This also inherits certain styles, which can be overriden. -->
   <a href="#" class="close-reveal-modal">&times;</a>
 </div>
