---
title: Information
---
<div class="row">
  <div class="large-12 columns">
    <div class="panel">
      <h2>About Us</h2>
    </div>
  </div>
</div>

<div class="row">
  <div class="medium-5 large-4 columns">
    <h5>Where We Meet</h5>
    <!-- Clicking this placeholder fires the mapModal Reveal modal -->
    <p>
      <a href="" data-reveal-id="mapModal">
        <iframe width="300" height="280" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?q=2100+NEw+hampshire+ave+nw&amp;ie=UTF8&amp;hq=&amp;hnear=2100+New+Hampshire+Ave+NW,+Washington,+District+of+Columbia,+20009&amp;t=m&amp;ll=38.918418,-77.03536&amp;spn=0.020034,0.025749&amp;z=14&amp;iwloc=A&amp;output=embed"></iframe>
      </a>
      <br />
      <a href="" data-reveal-id="mapModal">View Map</a>
    </p>
  </div>
  <!-- End Sidebar -->
  <div class="medium-7 large-8 columns">
    <h3>Mission Statement</h3>
    <p>DCYPAA is a group of young people in AA from the DC area. Our mission is to bring the EACYPAA conference to Washington, DC in 2015. We are putting together a bid to present at EACYPAA XII, in Chicago, Illinois in 2014. If you would like to get involved, please feel free to contact us at any of the email addresses listed below! If you don't know who to pick, just email <a href="mailto:chair@dcypaa.org">chair@dcypaa.org</a>. Also feel free to join us at our regular meetings; the committee meets every first and third Saturday of the month at 2:30 PM.</p>
  </div>

</div>

<div class="row">
  <dl class="accordion" data-accordion>
    <dd>
      <a href="#faq1">What is the Eastern Area Convention of Young People in AA (EACYPAA)?</a>
      <div id="faq1" class="content active">
        EACYPAA is a weekend celebration of recovery and service hosted annually in a city within the eastern U.S. (east of the Mississippi River).<br />
        EACYPAA brings the newcomer into the mainstream of A.A. Recovery, Unity, and Service through the 12 Steps, 12 Traditions and 12 Concepts for World Service of Alcoholics Anonymous, carrying A.A.’s message to the suffering Alcoholic. Young People’s Groups are no way separate from A.A. as a whole. Members of EACYPAA are involved in and committed to all levels of AA service, from the group level to the General Service Conference, and at every level in between. Newcomers are shown by people their own age that using A.A. principles in their daily lives, and getting involved in the A.A. Service structure, can lead to a lasting and comfortable sobriety.
      </div>
    </dd>
    <dd>
      <a href="#faq2">What Happens at EACYPAA?</a>
      <div id="faq2" class="content">
        The convention is a chance to meet other AA members from throughout the region and to establish lifelong friends and engage in fellowship. Traditionally the convention is held in a hotel or convention center.<br />
        The convention usually has meetings around the clock, including step, tradition, and speaker meetings as well as open discussion meetings. It also has panel discussions where members share their experience on specific issues of sobriety.<br />
        Conventions also have a social component, including dances and other entertainment.
      </div>
    </dd>
    <dd>
      <a href="#faq3">Where/when is EACYPAA?</a>
      <div id="faq3" class="content">
        The 12th EACYPAA will be in Chicago from March 28-30, 2014.
      </div>
    </dd>
    <dd>
      <a href="#faq4">It’s called a young people’s convention - are there any age restrictions?</a>
      <div id="faq4" class="content">
        No. Everyone is welcome. We define ‘Young People” as anyone who still has room to grow. Alcoholics Anonymous has no age barriers.
      </div>
    </dd>
    <dd>
      <a href="#faq5">Who is in charge of EACYPAA?</a>
      <div id="faq5" class="content">
        EACYPAA, as an organization, is maintained by a board of trustees called the EACYPAA Advisory Council. They manage the business of the convention and are legally responsible for its operations.<br />
        The council is generally made up of 16 members from previous EACYPAA host committees (3 persons from each EACYPAA for the last 5 years, including alternates.<br />
        Council members serve limited terms to honor the spirit of rotation.<br />
        The Advisory Council provides experience, strength and hope to the Bid Committees and serve as points of reference. Our bid will be presented to them in Chicago in 2014 at the 12th EACYPAA and they have the task of evaluating each bid, deciding which bid to accept, and deciding who will ultimately host the 13th EACYPAA.
      </div>
    </dd>
    <dd>
      <a href="#faq6">What is a Host Committee?</a>
      <div id="faq6" class="content">
        The city, area, or group of areas hosting the convention has an independent Host Committee that organizes the event and coordinates with the Advisory Council. The Host Committee is primarily responsible for the logistics and day-to-day operations of the convention including pre-convention activities such as outreach and registration.
      </div>
    </dd>
    <dd>
      <a href="#faq7">What is a bid committee?</a>
      <div id="faq7" class="content">
        The convention location is chosen through a bid process, whereby a city/state presents a comprehensive bid package to the Advisory Council. Bids are organized and managed through a Bid Committee. They typically consist of an Operating Committee (Chair, Co-Chair, Treasurer, Secretary, and Outreach Chairperson), other chairpersons, and committee members. <br />
        Committees act as a unique combination of an AA Group and Fellowship through the management and development of events and activities, financial stability (self- supporting), 12-step services, and fulfillment of convention bid requirements. <br />
        Bid Committees follow AA principles - the group conscience has the ultimate responsibility and authority over specific committees and the Operating Committee. Votes on any subject brought to floor for a vote.
      </div>
    </dd>
    <dd>
      <a href="#faq8">What if I want to be on the committee but cannot attend the convention in Chicago?</a>
      <div id="faq8" class="content">
        Attendance at EACYPAA is not required to be on the bid committee. Since the bid committee needs to show a significant presence at the actual convention, attendance is encouraged. Attending the convention also enriches the bidding experience as you get to see it come to fruition as well as enjoy the convention activities!
      </div>
    </dd>
    <dd>
      <a href="#faq9">How much of a time commitment is required to be on the committee?</a>
      <div id="faq9" class="content">
        This varies according to the bid committee position; however, there is guaranteed to be a position on the committee to match your busy schedule!
      </div>
    </dd>
  </dl>
</div>

<div class="row panel" id="members_grid">
  <div class="large-12 columns">
    <h4 class="title">Get in Touch with Specific Committee Members</h4>
    <ul class="medium-block-grid-5 small-block-grid-2 contact_list">
      <li>
        <a href="mailto:chair@dcypaa.org">
          <p>
            <%= image_tag "man_hat.png" %>
          </p>
          Committee Chair
        </a>
      </li>
      <li>
        <a href="mailto:secretary@dcypaa.org">
          <p>
            <%= image_tag "woman.png" %>
          </p>
          Secretary
        </a>
      </li>
      <li>
        <a href="mailto:webmaster@dcypaa.org">
          <p>
            <%= image_tag "man_in_chair.png" %>
          </p>
          Website Chair
        </a>
      </li>
      <li>
        <a href="mailto:outreach@dcypaa.org">
          <p>
            <%= image_tag "man-silhouette.png" %>
          </p>
          Outreach
        </a>
      </li>
      <li>
        <a href="mailto:events@dcypaa.org">
          <p>
            <%= image_tag "girl_jumping.png" %>
          </p>
          Events Chair
        </a>
      </li>
    </ul>
  </div>
</div>

<div class="reveal-modal medium" id="mapModal" data-reveal>
   <h4>Where We Meet</h4>
   <p>
     <iframe width="640" height="480" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?q=2100+NEw+hampshire+ave+nw&amp;ie=UTF8&amp;hq=&amp;hnear=2100+New+Hampshire+Ave+NW,+Washington,+District+of+Columbia,+20009&amp;t=m&amp;ll=38.918418,-77.03536&amp;spn=0.032054,0.054932&amp;z=14&amp;iwloc=A&amp;output=embed"></iframe>
   </p>
   <p>Come join us on the first and third saturdays of every month!</p>
   <!-- Any anchor with this class will close the modal. This also inherits certain styles, which can be overriden. -->
   <a href="#" class="close-reveal-modal">&times;</a>
 </div>
