---
title: Helpful Links
---

<div class="row">
  <div class="large-12 columns">
    <div class="panel">
      <h2>Helpful Links</h2>
    </div>
  </div>
</div>
   
   <!-- Main Feed -->
   <div class="large-9 columns">

     <!-- Feed Entry -->
     <div class="row">
       <div class="small-2 columns">
         <p><a href="http://www.eacypaa.org" target="_blank">
           <%= image_tag "ypaalogo.jpg" %>
         </a></p>
       </div>
       <div class="small-10 columns">
         <h3>EACYPAA</h3>
         <i>The Eastern Area Convention of Young People in AA. This links to the main EACYPAA website. <a href="http://www.eacypaa.org" target="_blank">EACYPAA.org</a>. <br>EACYPAA XII is in Chicago, March 28-30th. <a href="http://www.eacypaaxii.org" target="_blank">EACYPAAXII.org</a></i>
         
       </div>
     </div>
     <hr />
     
     <!-- Feed Entry -->
     <div class="row">
       <div class="small-2 columns">
         <p>
           <a href="http://www.aa.org" target="_blank">
           <%= image_tag "aa_notext.jpg" %>
           </a>
         </p>
       </div>
       <div class="small-10 columns">
         <h3>AA</h3>
         <i>Alcoholics Anonymous World Services.</i>
				 <a href="http://www.aa.org" target="_blank">AA.org</a>
       </div>
     </div>
     <hr />
     
     <!-- Feed Entry -->
     <div class="row">
       <div class="small-2 columns">
         <p>
           <%= image_tag "wagsa.png" %>
         </p>
       </div>
       <div class="small-10 columns">
         <h3>AA General Service</h3>
         <i>Area 13: DC's district in the General Service Structure of Alcoholics Anonymous.</i>
         <a href="http://www.area13aa.org" target="_blank">www.area13aa.org</a>
				 <br>
         <i>Area 29: General Service for Maryland</i>
         <a href="http://www.marylandaa.org" target="_blank">www.marylandaa.org</a>

       </div>
     </div>
     <hr />
     
     <!-- Feed Entry -->
     <div class="row">
       <div class="small-2 columns">
         <p>
           <%= image_tag "wagsa.png" %>
         </p>
       </div>
       <div class="small-10 columns">
         <h3>AA Virginia</h3>
         <i>Area 71: Virginia's District in the General Service Structure of Alcoholics Anonymous.</i>
         <a href="http://www.area13aa.org" target="_blank">www.aavirginia.org/hp/</a>


       </div>
     </div>
     <hr />
		 
     <!-- Feed Entry -->
     <div class="row">
       <div class="small-2 columns">
         <p>
           <%= image_tag "waia_logo.png" %>
         </p>
       </div>
       <div class="small-10 columns">
         <h3>WAIA: DC's Local Intergroup</h3>
         <i>DC's district in the General Service Structure of Alcoholics Anonymous.</i>
         <a href="http://www.aa-dc.org" target="_blank">www.aa-dc.org</a>
       </div>
     </div>
     <hr />
		 
		 <!-- Feed Entry -->
     <div class="row">
       <div class="small-2 columns">
         <p>
           <%= image_tag "nviemblemt31.jpg" %>
         </p>
       </div>
       <div class="small-10 columns">
         <h3>NVI: Northern Virginia Intergroup</h3>
         <i>Intergroup for Northern Virginia area meetings.</i>
         <a href="http://www.nvintergroup.org" target="_blank">www.nvintergroup.org</a>
       </div>
     </div>
   </div>

   <!-- Right Sidebar -->
   <!-- Nav Sidebar -->
   <!-- This is source ordered to be pulled to the left on larger screens -->
   <div class="large-3 columns">
     <div class="panel">
       <h5><strong>Emergencies</strong></h5>
       <div class="section-container vertical-nav" data-section data-options="deep_linking: false; one_up: true">
         <p>If you think you have a problem with alcohol, we understand. We know how you feel, for we have been where you are.  If you live in the DC Metro Area, contact the Washington Area Intergroup Association (<a href="http://www.aa-dc.org" target="_blank">www.aa-dc.org</a>) or Northern Virginia Intergroup (<a href="http://www.nvintergroup.org" target="_blank">www.nvintergroup.org</a>). Otherwise, contact your local Intergroup association. A complete list can be found <a href="http://aa.org/lang/en/subpage.cfm?page=28" target="_blank">here</a>.</p>
         
       </div>

     </div>
   </div>

 </div>
